.App {
  text-align: center;
}

.card-image img{
  max-width:40px;
  margin-left: auto;
  margin-right: auto;
}

.badge-container{
    display: block;
    position: absolute;
    right: -7px;
    top: 10px;
}

.badge{
  display: block;
  clear: both;  
  margin-top: 3px;
  color: white!important;
  font-size: 0.7rem!important
}